resources/*
*.ipynb_checkpoints
.Rhistory
studies/study2/analyses/5_concreteness/analysis_v4/old/*
/studies/study2/analyses/8_tensor_factorization/misc/*
/studies/study2/analyses/8_tensor_factorization/B_tensor_factorization_matlab/tensor_data_as_mat/input/*.mat
*.DS_Store
*.dcf
*.Rdata
*.rdb
*.rdx
studies/study2/analyses/7_swadesh_words/data/L2ETS\ prompt\ translations-a8edd99b5aa9.json
*L2ETS\ prompt\ translations-a8edd99b5aa9.json

studies/study2/analyses/5_concreteness/clustering_analysis_for_paper_figure/data/v1/*
studies/study2/analyses/5_concreteness/clustering_analysis_for_paper_figure/data/v2/*
studies/study2/analyses/_paper_analyses/lang_dists/lang_distance_metrics/cultural/dplace/data/*
studies/study2/analyses/_paper_analyses/lang_dists/lang_distance_metrics/cultural/dplace/data/
studies/study2/analyses/_paper_analyses/lang_dists/lang_distance_metrics/cultural/trade/data/*
studies/study2/analyses/_paper_analyses/lang_dists/lang_distance_metrics/cultural/trade/data/
studies/study2/analyses/_paper_analyses/concreteness_fig/old/*
studies/study2/analyses/_paper_analyses/old/ets_wiki_fig/data/wiki_ets_dists.csv
studies/study2/analyses/_paper_analyses/syntax_control_analysis/data/SUBTLEX-US\ frequency\ list\ with\ PoS\ information\ text\ version.txt

# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.feather
*/essay_word_counts.pkl
studies/study2/data/processed/*
*/toefl11.model
studies/study1/analyses/3_criterion_analysis/cluto-2.1.1/
studies/study2/analyses/5_concreteness/L2ETS prompt translations-a8edd99b5aa9.json
studies/study2/analyses/3_translation_analyses/essay_embeddings/L2ETS prompt translations-a8edd99b5aa9.json
*L2ETS prompt translations-a8edd99b5aa9.json
studies/study2/data/processed/prompt_translations/*
studies/study2/analyses/3_translation_analyses/prompt_embeddings/input/fasttext_models/*
*studies/study1/analyses/4_translation_analysis/data/wikipedia_w2vec_mods/
*/wikipedia_w2vec_mods/
studies/study1/all_data/essay_word_counts.pkl
studies/study1/all_data/toefl11.model
studies/study1/all_data/
studies/study2/data/raw/*
studies/study2/data/processed/all.model/*
studies/study2/data/processed/L1_high_low_models/*
studies/study2/data/processed/L1_models/*
studies/study2/analyses/2_pairwise_word_distances/pairwise_explorer_app/data/*
studies/study2/analyses/2_pairwise_word_distances/data/*
studies/study2/analyses/2_pairwise_word_distances/misc_app_data/*
studies/study2/analyses/8_tensor_factorization/tensor_factorization_matlab_stuff/tensor_data_as_mat/output/7_corr_shared_ktensor_output_WWL.mat
studies/study2/analyses/10_prop_global_variance/data/*
analyses/02_concreteness_semantics/data/brysbaert_corpus.csv
analyses/02_concreteness_semantics/data/ets/pairwise_distances/*
studies/study2/analyses/_paper_analyses/concreteness_fig/ets/data/summary_data/concreteness_closeness_quartiles.csv
studies/study2/analyses/_paper_analyses/concreteness_fig/wiki/data/concreteness_closeness_quartiles.csv
analyses/10_wikipedia_stats/data/raw/pageview_data
data/*
analyses/thompson_analyses/thompson_materials/*

*/rsconnect/*
.Rproj.user
studies/study1/analyses/translation_analysis/data/
